In [1]:
# Import MatPlotLib
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt
import matplotlib.dates as mdates

# Import Numpy and Pandas
import numpy as np
import pandas as pd
import requests
from config import g_key

# Import DateTime
import datetime as dt

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

# Import Flask
from flask import Flask, jsonify

Bad key "text.kerning_factor" on line 4 in
C:\ProgramData\Anaconda3\envs\PythonData\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test_patch.mplstyle.
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.1.3/matplotlibrc.template
or from the matplotlib source distribution

## SQLAlchemy
Query data from city.sqlite

In [61]:
engine = create_engine("sqlite:///Resources/city.sqlite")
connection = engine.connect()

# Declare bases and map class
Base = automap_base()

# reflect the tables
Base.prepare(engine, reflect=True)

In [62]:
# view all of the classes
Base.classes.keys()

# Save references to each table
City = Base.classes.city

In [63]:
session = Session(engine)

    # query results to a dictionary using date as the key and prcp as the value
results = session.query(City.city,
                        City.state,
                        City.country,
                        City.crime_index,
                        City.safety_index,
                        City.quality_of_life_index,
                        City.purchasing_power_index,
                        City.health_care_index,
                        City.cost_of_living_index,
                        City.traffic_commute_time_index,
                        City.price_to_income_ratio,
                        City.affordability_index,
                        City.lat,
                        City.long
                       ).\
    order_by(City.city).all()

session.close()

    # List date and precipitation
data = []
for city, state, country, crime, safety, life, purchasing, health, cost, traffic, price, affordability, lat, long in results:
    data_dict = {}
    data_dict["city"] = city
    data_dict["state"] = state
    data_dict["country"] = country
    data_dict["crime_index"] = crime
    data_dict["safety_index"] = safety
    data_dict["quality_of_life_index"] = life
    data_dict["purchasing_power_index"] = purchasing
    data_dict["health_care_index"] = health
    data_dict["cost_of_living_index"] = cost
    data_dict["traffic_commute_time_index"] = traffic
    data_dict["price_to_income_ratio"] = price
    data_dict["affordability_index"] = affordability
    data_dict["lat"] = lat
    data_dict["long"] = long
    data.append(data_dict)
    
    # Jsonify the data
#return jsonify(data)

In [64]:
print(data)

[{'city': 'Albuquerque', 'state': 'NM', 'country': 'United States', 'crime_index': 68.63, 'safety_index': 31.37, 'quality_of_life_index': 178.03, 'purchasing_power_index': 122.06, 'health_care_index': 72.22, 'cost_of_living_index': 64.2, 'traffic_commute_time_index': 26.44, 'price_to_income_ratio': 3.05, 'affordability_index': 4.33, 'lat': 35.0843859, 'long': -106.650422}, {'city': 'Atlanta', 'state': 'GA', 'country': 'United States', 'crime_index': 63.63, 'safety_index': 36.37, 'quality_of_life_index': 169.9, 'purchasing_power_index': 145.47, 'health_care_index': 64.21, 'cost_of_living_index': 72.26, 'traffic_commute_time_index': 44.22, 'price_to_income_ratio': 2.93, 'affordability_index': 4.6, 'lat': 33.7489954, 'long': -84.3879824}, {'city': 'Austin', 'state': 'TX', 'country': 'United States', 'crime_index': 34.6, 'safety_index': 65.4, 'quality_of_life_index': 192.57, 'purchasing_power_index': 143.76, 'health_care_index': 70.58, 'cost_of_living_index': 69.94, 'traffic_commute_time_index': 35.07, 'price_to_income_ratio': 4.03, 'affordability_index': 3.36, 'lat': 30.267153, 'long': -97.7430608}, {'city': 'Baltimore', 'state': 'MD', 'country': 'United States', 'crime_index': 71.25, 'safety_index': 28.75, 'quality_of_life_index': 167.98, 'purchasing_power_index': 125.36, 'health_care_index': 80.29, 'cost_of_living_index': 75.24, 'traffic_commute_time_index': 32.74, 'price_to_income_ratio': 2.59, 'affordability_index': 5.26, 'lat': 39.2903848, 'long': -76.6121893}, {'city': 'Boston', 'state': 'MA', 'country': 'United States', 'crime_index': 33.21, 'safety_index': 66.79, 'quality_of_life_index': 181.01, 'purchasing_power_index': 121.89, 'health_care_index': 75.6, 'cost_of_living_index': 82.68, 'traffic_commute_time_index': 43.36, 'price_to_income_ratio': 8.48, 'affordability_index': 1.59, 'lat': 42.3600825, 'long': -71.0588801}, {'city': 'Charlotte', 'state': 'NC', 'country': 'United States', 'crime_index': 45.17, 'safety_index': 54.83, 'quality_of_life_index': 195.85, 'purchasing_power_index': 145.53, 'health_care_index': 75.0, 'cost_of_living_index': 75.63, 'traffic_commute_time_index': 38.02, 'price_to_income_ratio': 2.4, 'affordability_index': 5.58, 'lat': 35.2270869, 'long': -80.8431267}, {'city': 'Chicago', 'state': 'IL', 'country': 'United States', 'crime_index': 64.64, 'safety_index': 35.36, 'quality_of_life_index': 161.24, 'purchasing_power_index': 133.36, 'health_care_index': 68.37, 'cost_of_living_index': 77.75, 'traffic_commute_time_index': 40.99, 'price_to_income_ratio': 3.54, 'affordability_index': 3.79, 'lat': 41.8781136, 'long': -87.6297982}, {'city': 'Cincinnati', 'state': 'OH', 'country': 'United States', 'crime_index': 51.07, 'safety_index': 48.93, 'quality_of_life_index': 178.51, 'purchasing_power_index': 126.99, 'health_care_index': 68.5, 'cost_of_living_index': 63.48, 'traffic_commute_time_index': 26.61, 'price_to_income_ratio': 2.4, 'affordability_index': 5.7, 'lat': 39.1031182, 'long': -84.5120196}, {'city': 'Columbus', 'state': 'OH', 'country': 'United States', 'crime_index': 42.36, 'safety_index': 57.64, 'quality_of_life_index': 195.88, 'purchasing_power_index': 127.33, 'health_care_index': 75.28, 'cost_of_living_index': 65.79, 'traffic_commute_time_index': 25.21, 'price_to_income_ratio': 2.31, 'affordability_index': 5.97, 'lat': 39.9611755, 'long': -82.99879419999999}, {'city': 'Dallas', 'state': 'TX', 'country': 'United States', 'crime_index': 49.52, 'safety_index': 50.48, 'quality_of_life_index': 188.66, 'purchasing_power_index': 158.15, 'health_care_index': 66.33, 'cost_of_living_index': 66.95, 'traffic_commute_time_index': 36.14, 'price_to_income_ratio': 2.36, 'affordability_index': 5.72, 'lat': 32.7766642, 'long': -96.7969879}, {'city': 'Denver', 'state': 'CO', 'country': 'United States', 'crime_index': 42.15, 'safety_index': 57.85, 'quality_of_life_index': 169.82, 'purchasing_power_index': 126.76, 'health_care_index': 70.96, 'cost_of_living_index': 70.72, 'traffic_commute_time_index': 35.21, 'price_to_income_ratio': 4.79, 'affordability_index': 2.8, 'lat': 39.7392358, 'long': -104.990251}, {'city': 'Detroit', 'state': 'MI', 'country': 'United States', 'crime_index': 71.84, 'safety_index': 28.16, 'quality_of_life_index': 133.44, 'purchasing_power_index': 100.19, 'health_care_index': 63.75, 'cost_of_living_index': 60.04, 'traffic_commute_time_index': 47.43, 'price_to_income_ratio': 1.72, 'affordability_index': 7.87, 'lat': 42.331427, 'long': -83.0457538}, {'city': 'Honolulu', 'state': 'HI', 'country': 'United States', 'crime_index': 43.78, 'safety_index': 56.22, 'quality_of_life_index': 164.22, 'purchasing_power_index': 101.03, 'health_care_index': 69.92, 'cost_of_living_index': 95.67, 'traffic_commute_time_index': 42.52, 'price_to_income_ratio': 8.66, 'affordability_index': 1.55, 'lat': 21.3069444, 'long': -157.8583333}, {'city': 'Houston', 'state': 'TX', 'country': 'United States', 'crime_index': 60.91, 'safety_index': 39.09, 'quality_of_life_index': 171.0, 'purchasing_power_index': 146.52, 'health_care_index': 72.27, 'cost_of_living_index': 63.62, 'traffic_commute_time_index': 42.21, 'price_to_income_ratio': 2.2, 'affordability_index': 6.16, 'lat': 29.7604267, 'long': -95.3698028}, {'city': 'Indianapolis', 'state': 'IN', 'country': 'United States', 'crime_index': 55.17, 'safety_index': 44.83, 'quality_of_life_index': 166.91, 'purchasing_power_index': 116.83, 'health_care_index': 68.96, 'cost_of_living_index': 67.05, 'traffic_commute_time_index': 30.83, 'price_to_income_ratio': 2.26, 'affordability_index': 5.94, 'lat': 39.768403, 'long': -86.158068}, {'city': 'Jacksonville', 'state': 'FL', 'country': 'United States', 'crime_index': 58.29, 'safety_index': 41.71, 'quality_of_life_index': 185.15, 'purchasing_power_index': 133.31, 'health_care_index': 74.83, 'cost_of_living_index': 69.0, 'traffic_commute_time_index': 35.19, 'price_to_income_ratio': 2.03, 'affordability_index': 6.61, 'lat': 30.3321838, 'long': -81.65565099999999}, {'city': 'Kansas City', 'state': 'MO', 'country': 'United States', 'crime_index': 60.23, 'safety_index': 39.77, 'quality_of_life_index': 185.36, 'purchasing_power_index': 135.13, 'health_care_index': 75.25, 'cost_of_living_index': 68.81, 'traffic_commute_time_index': 24.54, 'price_to_income_ratio': 2.08, 'affordability_index': 6.52, 'lat': 39.0997265, 'long': -94.5785667}, {'city': 'Las Vegas', 'state': 'NV', 'country': 'United States', 'crime_index': 55.7, 'safety_index': 44.3, 'quality_of_life_index': 158.08, 'purchasing_power_index': 133.59, 'health_care_index': 54.41, 'cost_of_living_index': 67.81, 'traffic_commute_time_index': 28.19, 'price_to_income_ratio': 2.78, 'affordability_index': 4.77, 'lat': 36.1699412, 'long': -115.1398296}, {'city': 'Los Angeles', 'state': 'CA', 'country': 'United States', 'crime_index': 47.13, 'safety_index': 52.87, 'quality_of_life_index': 150.65, 'purchasing_power_index': 113.47, 'health_care_index': 65.87, 'cost_of_living_index': 78.2, 'traffic_commute_time_index': 47.16, 'price_to_income_ratio': 7.72, 'affordability_index': 1.73, 'lat': 34.0522342, 'long': -118.2436849}, {'city': 'Madison', 'state': 'WI', 'country': 'United States', 'crime_index': 27.59, 'safety_index': 72.41, 'quality_of_life_index': 204.36, 'purchasing_power_index': 136.4, 'health_care_index': 79.58, 'cost_of_living_index': 63.48, 'traffic_commute_time_index': 23.88, 'price_to_income_ratio': 3.3, 'affordability_index': 4.29, 'lat': 43.0730517, 'long': -89.4012302}, {'city': 'Miami', 'state': 'FL', 'country': 'United States', 'crime_index': 52.91, 'safety_index': 47.09, 'quality_of_life_index': 151.75, 'purchasing_power_index': 86.92, 'health_care_index': 64.04, 'cost_of_living_index': 80.45, 'traffic_commute_time_index': 43.02, 'price_to_income_ratio': 5.91, 'affordability_index': 2.2, 'lat': 25.7616798, 'long': -80.1917902}, {'city': 'Milwaukee', 'state': 'WI', 'country': 'United States', 'crime_index': 65.29, 'safety_index': 34.71, 'quality_of_life_index': 158.89, 'purchasing_power_index': 102.27, 'health_care_index': 66.46, 'cost_of_living_index': 70.22, 'traffic_commute_time_index': 30.2, 'price_to_income_ratio': 2.95, 'affordability_index': 4.57, 'lat': 43.0389025, 'long': -87.9064736}, {'city': 'Minneapolis', 'state': 'MN', 'country': 'United States', 'crime_index': 48.72, 'safety_index': 51.28, 'quality_of_life_index': 181.51, 'purchasing_power_index': 125.9, 'health_care_index': 80.03, 'cost_of_living_index': 75.33, 'traffic_commute_time_index': 33.38, 'price_to_income_ratio': 3.11, 'affordability_index': 4.35, 'lat': 44.977753, 'long': -93.2650108}, {'city': 'New York', 'state': 'NY', 'country': 'United States', 'crime_index': 44.22, 'safety_index': 55.78, 'quality_of_life_index': 138.86, 'purchasing_power_index': 100.0, 'health_care_index': 63.49, 'cost_of_living_index': 100.0, 'traffic_commute_time_index': 42.53, 'price_to_income_ratio': 11.66, 'affordability_index': 1.16, 'lat': 40.7127753, 'long': -74.0059728}, {'city': 'Oakland', 'state': 'CA', 'country': 'United States', 'crime_index': 64.11, 'safety_index': 35.89, 'quality_of_life_index': 182.68, 'purchasing_power_index': 134.28, 'health_care_index': 80.4, 'cost_of_living_index': 84.24, 'traffic_commute_time_index': 32.36, 'price_to_income_ratio': 6.14, 'affordability_index': 2.2, 'lat': 37.8043514, 'long': -122.2711639}, {'city': 'Orlando', 'state': 'FL', 'country': 'United States', 'crime_index': 55.51, 'safety_index': 44.49, 'quality_of_life_index': 172.42, 'purchasing_power_index': 115.68, 'health_care_index': 65.3, 'cost_of_living_index': 69.38, 'traffic_commute_time_index': 37.08, 'price_to_income_ratio': 2.96, 'affordability_index': 4.55, 'lat': 28.5383355, 'long': -81.3792365}, {'city': 'Philadelphia', 'state': 'PA', 'country': 'United States', 'crime_index': 58.09, 'safety_index': 41.91, 'quality_of_life_index': 156.51, 'purchasing_power_index': 118.48, 'health_care_index': 72.54, 'cost_of_living_index': 80.19, 'traffic_commute_time_index': 41.92, 'price_to_income_ratio': 3.31, 'affordability_index': 4.07, 'lat': 39.9525839, 'long': -75.1652215}, {'city': 'Phoenix', 'state': 'AZ', 'country': 'United States', 'crime_index': 53.49, 'safety_index': 46.51, 'quality_of_life_index': 159.55, 'purchasing_power_index': 143.14, 'health_care_index': 66.79, 'cost_of_living_index': 65.88, 'traffic_commute_time_index': 30.51, 'price_to_income_ratio': 2.8, 'affordability_index': 4.74, 'lat': 33.4483771, 'long': -112.0740373}, {'city': 'Pittsburgh', 'state': 'PA', 'country': 'United States', 'crime_index': 36.01, 'safety_index': 63.99, 'quality_of_life_index': 171.14, 'purchasing_power_index': 109.13, 'health_care_index': 74.87, 'cost_of_living_index': 74.79, 'traffic_commute_time_index': 39.5, 'price_to_income_ratio': 2.21, 'affordability_index': 6.0, 'lat': 40.44062479999999, 'long': -79.9958864}, {'city': 'Portland', 'state': 'OR', 'country': 'United States', 'crime_index': 45.23, 'safety_index': 54.77, 'quality_of_life_index': 187.61, 'purchasing_power_index': 123.51, 'health_care_index': 70.31, 'cost_of_living_index': 74.93, 'traffic_commute_time_index': 33.22, 'price_to_income_ratio': 4.93, 'affordability_index': 2.74, 'lat': 45.5051064, 'long': -122.6750261}, {'city': 'Sacramento', 'state': 'CA', 'country': 'United States', 'crime_index': 48.59, 'safety_index': 51.41, 'quality_of_life_index': 183.61, 'purchasing_power_index': 131.2, 'health_care_index': 70.71, 'cost_of_living_index': 77.76, 'traffic_commute_time_index': 26.58, 'price_to_income_ratio': 3.71, 'affordability_index': 3.65, 'lat': 38.5815719, 'long': -121.4943996}, {'city': 'Saint Louis', 'state': 'MO', 'country': 'United States', 'crime_index': 67.16, 'safety_index': 32.84, 'quality_of_life_index': 180.96, 'purchasing_power_index': 137.4, 'health_care_index': 79.39, 'cost_of_living_index': 66.77, 'traffic_commute_time_index': 27.5, 'price_to_income_ratio': 2.38, 'affordability_index': 5.69, 'lat': 38.6270025, 'long': -90.1994042}, {'city': 'Salt Lake City', 'state': 'UT', 'country': 'United States', 'crime_index': 25.2, 'safety_index': 74.8, 'quality_of_life_index': 179.53, 'purchasing_power_index': 144.68, 'health_care_index': 70.19, 'cost_of_living_index': 63.38, 'traffic_commute_time_index': 34.72, 'price_to_income_ratio': 3.63, 'affordability_index': 3.73, 'lat': 40.7607793, 'long': -111.8910474}, {'city': 'San Antonio', 'state': 'TX', 'country': 'United States', 'crime_index': 46.11, 'safety_index': 53.89, 'quality_of_life_index': 186.37, 'purchasing_power_index': 135.39, 'health_care_index': 69.24, 'cost_of_living_index': 61.87, 'traffic_commute_time_index': 29.19, 'price_to_income_ratio': 2.24, 'affordability_index': 6.0, 'lat': 29.4241219, 'long': -98.4936282}, {'city': 'San Diego', 'state': 'CA', 'country': 'United States', 'crime_index': 36.18, 'safety_index': 63.82, 'quality_of_life_index': 192.68, 'purchasing_power_index': 136.48, 'health_care_index': 71.77, 'cost_of_living_index': 72.67, 'traffic_commute_time_index': 36.81, 'price_to_income_ratio': 6.01, 'affordability_index': 2.26, 'lat': 32.715738, 'long': -117.1610838}, {'city': 'San Francisco', 'state': 'CA', 'country': 'United States', 'crime_index': 48.97, 'safety_index': 51.03, 'quality_of_life_index': 175.88, 'purchasing_power_index': 134.05, 'health_care_index': 71.19, 'cost_of_living_index': 91.67, 'traffic_commute_time_index': 44.56, 'price_to_income_ratio': 9.26, 'affordability_index': 1.45, 'lat': 37.7749295, 'long': -122.4194155}, {'city': 'San Jose', 'state': 'CA', 'country': 'United States', 'crime_index': 41.96, 'safety_index': 58.04, 'quality_of_life_index': 192.57, 'purchasing_power_index': 172.52, 'health_care_index': 68.83, 'cost_of_living_index': 76.36, 'traffic_commute_time_index': 34.42, 'price_to_income_ratio': 6.1, 'affordability_index': 2.22, 'lat': 37.3382082, 'long': -121.8863286}, {'city': 'Seattle', 'state': 'WA', 'country': 'United States', 'crime_index': 44.68, 'safety_index': 55.32, 'quality_of_life_index': 188.21, 'purchasing_power_index': 139.2, 'health_care_index': 72.51, 'cost_of_living_index': 84.16, 'traffic_commute_time_index': 42.99, 'price_to_income_ratio': 6.16, 'affordability_index': 2.17, 'lat': 47.6062095, 'long': -122.3320708}, {'city': 'Tampa', 'state': 'FL', 'country': 'United States', 'crime_index': 47.8, 'safety_index': 52.2, 'quality_of_life_index': 182.85, 'purchasing_power_index': 123.8, 'health_care_index': 66.69, 'cost_of_living_index': 70.46, 'traffic_commute_time_index': 36.33, 'price_to_income_ratio': 3.18, 'affordability_index': 4.16, 'lat': 27.950575, 'long': -82.4571776}, {'city': 'Tucson', 'state': 'AZ', 'country': 'United States', 'crime_index': 51.53, 'safety_index': 48.47, 'quality_of_life_index': 175.03, 'purchasing_power_index': 115.99, 'health_care_index': 59.18, 'cost_of_living_index': 67.99, 'traffic_commute_time_index': 32.16, 'price_to_income_ratio': 2.62, 'affordability_index': 4.84, 'lat': 32.2226066, 'long': -110.9747108}, {'city': 'Washington', 'state': 'DC', 'country': 'United States', 'crime_index': 57.28, 'safety_index': 42.72, 'quality_of_life_index': 166.58, 'purchasing_power_index': 126.08, 'health_care_index': 71.58, 'cost_of_living_index': 91.99, 'traffic_commute_time_index': 41.63, 'price_to_income_ratio': 4.85, 'affordability_index': 2.79, 'lat': 47.7510741, 'long': -120.7401385}]

## Query data from Google API
Get coordinate information for each city

In [53]:
# Get base url for Google API
url = "https://maps.googleapis.com/maps/api/geocode/json"

In [54]:
# Open city.csv and read dataframe
csv_path = "./Resources/city.csv"
pd.read_csv(csv_path)
city_df = pd.read_csv(csv_path).sort_values("city")
city_df.head(10)

,city,state,country,crime_index,safety_index,quality_of_life_index,purchasing_power_index,health_care_index,cost_of_living_index,traffic_commute_time_index,pollution_index,price_to_income_ratio,affordability_index
20,Albuquerque,NM,United States,68.63,31.37,178.03,122.06,72.22,64.20,26.44,22.54,3.05,4.33
26,Atlanta,GA,United States,63.63,36.37,169.90,145.47,64.21,72.26,44.22,44.70,2.93,4.60
4,Austin,TX,United States,34.60,65.40,192.57,143.76,70.58,69.94,35.07,36.97,4.03,3.36
28,Baltimore,MD,United States,71.25,28.75,167.98,125.36,80.29,75.24,32.74,43.88,2.59,5.26
16,Boston,MA,United States,33.21,66.79,181.01,121.89,75.60,82.68,43.36,25.29,8.48,1.59
2,Charlotte,NC,United States,45.17,54.83,195.85,145.53,75.00,75.63,38.02,28.22,2.40,5.58
32,Chicago,IL,United States,64.64,35.36,161.24,133.36,68.37,77.75,40.99,41.03,3.54,3.79
19,Cincinnati,OH,United States,51.07,48.93,178.51,126.99,68.50,63.48,26.61,39.77,2.40,5.70
1,Columbus,OH,United States,42.36,57.64,195.88,127.33,75.28,65.79,25.21,24.37,2.31,5.97
6,Dallas,TX,United States,49.52,50.48,188.66,158.15,66.33,66.95,36.14,39.80,2.36,5.72

In [55]:
# Set only cities column
cities = city_df[["city"]]
cities.head()

           city
20  Albuquerque
26      Atlanta
4        Austin
28    Baltimore
16       Boston

In [18]:
# Add latitude and longitude columns for the cities dataframe
cities['location'] = ""
cities.head()

<ipython-input-18-c604b4d5f095>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cities['location'] = ""

           city location
20  Albuquerque
26      Atlanta
4        Austin
28    Baltimore
16       Boston

In [12]:
# Assign parameter for Google API
params = {
    "key": g_key,
}
# use iterrows to iterate through pandas dataframe
# for index, row in cities.iterrows():

    # get city type from df
city_type = "Irvine"

    # add address to params dict
params['address'] = city_type

    # assemble url and make API request
print(f"Retrieving Results for Index {index}: {city_type}.")
response = requests.get(url, params=params).json()
    
    # extract results
results = response['results']
results[0]['geometry']['location']
    
cities.loc[index, 'location'] = str(results[0]['geometry']['location'])
cities.head()

Retrieving Results for Index 20: Irvine.

C:\ProgramData\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
<ipython-input-12-dbde712c36c2>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cities.loc[index, 'location'] = str(results[0]['geometry']['location'])

           city                                  location
20  Albuquerque  {'lat': 33.6845673, 'lng': -117.8265049}
26      Atlanta
4        Austin
28    Baltimore
16       Boston

In [19]:
# Assign parameter for Google API
params = {
    "key": g_key,
}
# use iterrows to iterate through pandas dataframe
for index, row in cities.iterrows():

    # get city type from df
    city_type = row['city']

    # add address to params dict
    params['address'] = city_type

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {city_type}.")
    response = requests.get(url, params=params).json()
    
    # extract results
    results = response['results']
    results
    
    try:
        cities.loc[index, 'location'] = str(results[0]['geometry']['location'])
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

Retrieving Results for Index 20: Albuquerque.
------------
Retrieving Results for Index 26: Atlanta.

C:\ProgramData\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
<ipython-input-19-1e37cc1ed072>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cities.loc[index, 'location'] = str(results[0]['geometry']['location'])

------------
Retrieving Results for Index 4: Austin.
------------
Retrieving Results for Index 28: Baltimore.
------------
Retrieving Results for Index 16: Boston.
------------
Retrieving Results for Index 2: Charlotte.
------------
Retrieving Results for Index 32: Chicago.
------------
Retrieving Results for Index 19: Cincinnati.
------------
Retrieving Results for Index 1: Columbus.
------------
Retrieving Results for Index 6: Dallas.
------------
Retrieving Results for Index 27: Denver.
------------
Retrieving Results for Index 40: Detroit.
------------
Retrieving Results for Index 31: Honolulu.
------------
Retrieving Results for Index 25: Houston.
------------
Retrieving Results for Index 29: Indianapolis.
------------
Retrieving Results for Index 11: Jacksonville.
------------
Retrieving Results for Index 10: Kansas City.
------------
Retrieving Results for Index 35: Las Vegas.
------------
Retrieving Results for Index 38: Los Angeles.
------------
Retrieving Results for Index 0: Madison.
------------
Retrieving Results for Index 37: Miami.
------------
Retrieving Results for Index 34: Milwaukee.
------------
Retrieving Results for Index 15: Minneapolis.
------------
Retrieving Results for Index 39: New York.
------------
Retrieving Results for Index 14: Oakland.
------------
Retrieving Results for Index 23: Orlando.
------------
Retrieving Results for Index 36: Philadelphia.
------------
Retrieving Results for Index 33: Phoenix.
------------
Retrieving Results for Index 24: Pittsburgh.
------------
Retrieving Results for Index 8: Portland.
------------
Retrieving Results for Index 12: Sacramento.
------------
Retrieving Results for Index 17: Saint Louis.
------------
Retrieving Results for Index 18: Salt Lake City.
------------
Retrieving Results for Index 9: San Antonio.
------------
Retrieving Results for Index 3: San Diego.
------------
Retrieving Results for Index 21: San Francisco.
------------
Retrieving Results for Index 5: San Jose.
------------
Retrieving Results for Index 7: Seattle.
------------
Retrieving Results for Index 13: Tampa.
------------
Retrieving Results for Index 22: Tucson.
------------
Retrieving Results for Index 30: Washington.
------------

In [20]:
cities.head()

           city                                 location
20  Albuquerque  {'lat': 35.0843859, 'lng': -106.650422}
26      Atlanta  {'lat': 33.7489954, 'lng': -84.3879824}
4        Austin   {'lat': 30.267153, 'lng': -97.7430608}
28    Baltimore  {'lat': 39.2903848, 'lng': -76.6121893}
16       Boston  {'lat': 42.3600825, 'lng': -71.0588801}

In [56]:
# Add latitude and longitude columns for the cities dataframe
cities['lat'] = ""
cities['long'] = ""
cities.head()

<ipython-input-56-b04e51b5b019>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cities['lat'] = ""
<ipython-input-56-b04e51b5b019>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cities['long'] = ""

           city lat long
20  Albuquerque
26      Atlanta
4        Austin
28    Baltimore
16       Boston

In [57]:
# Assign parameter for Google API
params = {
    "key": g_key,
}
# use iterrows to iterate through pandas dataframe
for index, row in cities.iterrows():

    # get city type from df
    city_type = row['city']

    # add address to params dict
    params['address'] = city_type

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {city_type}.")
    response = requests.get(url, params=params).json()
    
    # extract results
    results = response['results']
    results
    
    try:
        cities.loc[index, 'lat'] = results[0]['geometry']['location']['lat']
        cities.loc[index, 'long'] = results[0]['geometry']['location']['lng']
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

Retrieving Results for Index 20: Albuquerque.

C:\ProgramData\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
<ipython-input-57-7cd13ff7d429>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cities.loc[index, 'lat'] = results[0]['geometry']['location']['lat']
<ipython-input-57-7cd13ff7d429>:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cities.loc[index, 'long'] = results[0]['geometry']['location']['lng']

------------
Retrieving Results for Index 26: Atlanta.
------------
Retrieving Results for Index 4: Austin.
------------
Retrieving Results for Index 28: Baltimore.
------------
Retrieving Results for Index 16: Boston.
------------
Retrieving Results for Index 2: Charlotte.
------------
Retrieving Results for Index 32: Chicago.
------------
Retrieving Results for Index 19: Cincinnati.
------------
Retrieving Results for Index 1: Columbus.
------------
Retrieving Results for Index 6: Dallas.
------------
Retrieving Results for Index 27: Denver.
------------
Retrieving Results for Index 40: Detroit.
------------
Retrieving Results for Index 31: Honolulu.
------------
Retrieving Results for Index 25: Houston.
------------
Retrieving Results for Index 29: Indianapolis.
------------
Retrieving Results for Index 11: Jacksonville.
------------
Retrieving Results for Index 10: Kansas City.
------------
Retrieving Results for Index 35: Las Vegas.
------------
Retrieving Results for Index 38: Los Angeles.
------------
Retrieving Results for Index 0: Madison.
------------
Retrieving Results for Index 37: Miami.
------------
Retrieving Results for Index 34: Milwaukee.
------------
Retrieving Results for Index 15: Minneapolis.
------------
Retrieving Results for Index 39: New York.
------------
Retrieving Results for Index 14: Oakland.
------------
Retrieving Results for Index 23: Orlando.
------------
Retrieving Results for Index 36: Philadelphia.
------------
Retrieving Results for Index 33: Phoenix.
------------
Retrieving Results for Index 24: Pittsburgh.
------------
Retrieving Results for Index 8: Portland.
------------
Retrieving Results for Index 12: Sacramento.
------------
Retrieving Results for Index 17: Saint Louis.
------------
Retrieving Results for Index 18: Salt Lake City.
------------
Retrieving Results for Index 9: San Antonio.
------------
Retrieving Results for Index 3: San Diego.
------------
Retrieving Results for Index 21: San Francisco.
------------
Retrieving Results for Index 5: San Jose.
------------
Retrieving Results for Index 7: Seattle.
------------
Retrieving Results for Index 13: Tampa.
------------
Retrieving Results for Index 22: Tucson.
------------
Retrieving Results for Index 30: Washington.
------------

In [58]:
# Check results
cities

              city      lat     long
20     Albuquerque  35.0844  -106.65
26         Atlanta   33.749  -84.388
4           Austin  30.2672 -97.7431
28       Baltimore  39.2904 -76.6122
16          Boston  42.3601 -71.0589
2        Charlotte  35.2271 -80.8431
32         Chicago  41.8781 -87.6298
19      Cincinnati  39.1031  -84.512
1         Columbus  39.9612 -82.9988
6           Dallas  32.7767  -96.797
27          Denver  39.7392  -104.99
40         Detroit  42.3314 -83.0458
31        Honolulu  21.3069 -157.858
25         Houston  29.7604 -95.3698
29    Indianapolis  39.7684 -86.1581
11    Jacksonville  30.3322 -81.6557
10     Kansas City  39.0997 -94.5786
35       Las Vegas  36.1699  -115.14
38     Los Angeles  34.0522 -118.244
0          Madison  43.0731 -89.4012
37           Miami  25.7617 -80.1918
34       Milwaukee  43.0389 -87.9065
15     Minneapolis  44.9778  -93.265
39        New York  40.7128  -74.006
14         Oakland  37.8044 -122.271
23         Orlando  28.5383 -81.3792
36    Philadelphia  39.9526 -75.1652
33         Phoenix  33.4484 -112.074
24      Pittsburgh  40.4406 -79.9959
8         Portland  45.5051 -122.675
12      Sacramento  38.5816 -121.494
17     Saint Louis   38.627 -90.1994
18  Salt Lake City  40.7608 -111.891
9      San Antonio  29.4241 -98.4936
3        San Diego  32.7157 -117.161
21   San Francisco  37.7749 -122.419
5         San Jose  37.3382 -121.886
7          Seattle  47.6062 -122.332
13           Tampa  27.9506 -82.4572
22          Tucson  32.2226 -110.975
30      Washington  47.7511  -120.74

In [47]:
lat = cities["lat"]
long = cities["long"]
location = f'[{lat}, {long}]'
location

'[20    35.0844\n26     33.749\n4     30.2672\n28    39.2904\n16    42.3601\n2     35.2271\n32    41.8781\n19    39.1031\n1     39.9612\n6     32.7767\n27    39.7392\n40    42.3314\n31    21.3069\n25    29.7604\n29    39.7684\n11    30.3322\n10    39.0997\n35    36.1699\n38    34.0522\n0     43.0731\n37    25.7617\n34    43.0389\n15    44.9778\n39    40.7128\n14    37.8044\n23    28.5383\n36    39.9526\n33    33.4484\n24    40.4406\n8     45.5051\n12    38.5816\n17     38.627\n18    40.7608\n9     29.4241\n3     32.7157\n21    37.7749\n5     37.3382\n7     47.6062\n13    27.9506\n22    32.2226\n30    47.7511\nName: lat, dtype: object, 20    -106.65\n26    -84.388\n4    -97.7431\n28   -76.6122\n16   -71.0589\n2    -80.8431\n32   -87.6298\n19    -84.512\n1    -82.9988\n6     -96.797\n27    -104.99\n40   -83.0458\n31   -157.858\n25   -95.3698\n29   -86.1581\n11   -81.6557\n10   -94.5786\n35    -115.14\n38   -118.244\n0    -89.4012\n37   -80.1918\n34   -87.9065\n15    -93.265\n39    -74.006\n14   -122.271\n23   -81.3792\n36   -75.1652\n33   -112.074\n24   -79.9959\n8    -122.675\n12   -121.494\n17   -90.1994\n18   -111.891\n9    -98.4936\n3    -117.161\n21   -122.419\n5    -121.886\n7    -122.332\n13   -82.4572\n22   -110.975\n30    -120.74\nName: long, dtype: object]'

In [52]:
new_df = pd.DataFrame({"name": cities["city"],
                       "location": '[f{lat}, f{long}]'
                      })
new_df

              name           location
20     Albuquerque  [f{lat}, f{long}]
26         Atlanta  [f{lat}, f{long}]
4           Austin  [f{lat}, f{long}]
28       Baltimore  [f{lat}, f{long}]
16          Boston  [f{lat}, f{long}]
2        Charlotte  [f{lat}, f{long}]
32         Chicago  [f{lat}, f{long}]
19      Cincinnati  [f{lat}, f{long}]
1         Columbus  [f{lat}, f{long}]
6           Dallas  [f{lat}, f{long}]
27          Denver  [f{lat}, f{long}]
40         Detroit  [f{lat}, f{long}]
31        Honolulu  [f{lat}, f{long}]
25         Houston  [f{lat}, f{long}]
29    Indianapolis  [f{lat}, f{long}]
11    Jacksonville  [f{lat}, f{long}]
10     Kansas City  [f{lat}, f{long}]
35       Las Vegas  [f{lat}, f{long}]
38     Los Angeles  [f{lat}, f{long}]
0          Madison  [f{lat}, f{long}]
37           Miami  [f{lat}, f{long}]
34       Milwaukee  [f{lat}, f{long}]
15     Minneapolis  [f{lat}, f{long}]
39        New York  [f{lat}, f{long}]
14         Oakland  [f{lat}, f{long}]
23         Orlando  [f{lat}, f{long}]
36    Philadelphia  [f{lat}, f{long}]
33         Phoenix  [f{lat}, f{long}]
24      Pittsburgh  [f{lat}, f{long}]
8         Portland  [f{lat}, f{long}]
12      Sacramento  [f{lat}, f{long}]
17     Saint Louis  [f{lat}, f{long}]
18  Salt Lake City  [f{lat}, f{long}]
9      San Antonio  [f{lat}, f{long}]
3        San Diego  [f{lat}, f{long}]
21   San Francisco  [f{lat}, f{long}]
5         San Jose  [f{lat}, f{long}]
7          Seattle  [f{lat}, f{long}]
13           Tampa  [f{lat}, f{long}]
22          Tucson  [f{lat}, f{long}]
30      Washington  [f{lat}, f{long}]

In [60]:
# Export to csv file
export_csv = cities.to_csv (r'Resources/location.csv', index = None, header=True)